extends layout 
block content
    h1 Login Form
    form(action="/login" method="POST")
        label(for="username") Username &nbsp
        input(name="username" id="username" placeholder="username" type="text")
        br
        label(for="password") Password &nbsp
        input(name="password" id="password" type="password")
        br
        br
        button Login

    if message 
    p #{message}